@import url(color.css);

@font-face {
    font-family: 'JetBrains';
    src: url('../fonts/JetBrainsMonoNerdFont.ttf') format('truetype');
}

* {
    font-family: JetBrains, sans-serif;
    font-size: 16px;
    background-color: var(--base);
    color: var(--text);
}

.title {
    font-size: 2rem;
    text-align: center;
}

.button-box {
    text-align: center;
    height: 75vh;
}

.button {
    background-color: var(--surface0);
    font-size: 1.5rem;
}